## Basics LOoPs.. Questions

In [1]:
##(1)Print numbers from 1 to 10.

for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
##Print numbers from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [22]:
##üîπ Question:

##Print all even numbers from 1 to 20 using a for loop
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [24]:
### Find the sum of numbers from 1 to 10 using a for loop
total =0
for i in range(1,11):
    total=total+i
print(f'sum:- {total}')

sum:- 55

In [11]:
###4Ô∏è‚É£ Print all odd numbers from 1 to 50
for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [13]:
###Print all even numbers from 2 to 100 using only range()
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [15]:
###1Ô∏è‚É£ Print multiples of 5 from 5 to 100
for i in range(5,101,5):
    print('Multiple Of Five:-',i)

Multiple Of Five:- 5
Multiple Of Five:- 10
Multiple Of Five:- 15
Multiple Of Five:- 20
Multiple Of Five:- 25
Multiple Of Five:- 30
Multiple Of Five:- 35
Multiple Of Five:- 40
Multiple Of Five:- 45
Multiple Of Five:- 50
Multiple Of Five:- 55
Multiple Of Five:- 60
Multiple Of Five:- 65
Multiple Of Five:- 70
Multiple Of Five:- 75
Multiple Of Five:- 80
Multiple Of Five:- 85
Multiple Of Five:- 90
Multiple Of Five:- 95
Multiple Of Five:- 100

In [17]:
##Print numbers from 100 to 0 in steps of 10 using only range()
for i in range(100,-10,-10):
    print(i)

100
90
80
70
60
50
40
30
20
10
0

In [ ]:
###3Ô∏è‚É£ Print the square of each number from 1 to 10
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [26]:
##Find the sum of all EVEN numbers from 1 to 20 using a for loop
total = 0
for i in range(2,21,2):
    total =total+i
print(f'sum:-{total}')

sum:-110

In [32]:
##Count how many numbers are divisible by 3 between 1 and 30
count = 0
for i in range(3,31,3):
    count=count+1
print(count)

10

In [35]:
##üîπ Question:Count how many EVEN numbers are between 1 and 50
count = 0
for i in  range(2,51,2):
    count=count+1
print(count)

25

In [37]:
##üîπ Question:Find the sum of all ODD numbers between 1 and 30
total = 0
for i in range(1,31,2):
    total = total + i
print(f'sum of odd Numbers:-{total}')

sum of odd Numbers:-225