## Basics LOoPs.. Questions

In [111]:
##(1)Print numbers from 1 to 10.

for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [112]:
##Print numbers from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [113]:
##ðŸ”¹ Question:

##Print all even numbers from 1 to 20 using a for loop
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [114]:
### Find the sum of numbers from 1 to 10 using a for loop
total =0
for i in range(1,11):
    total=total+i
print(f'sum:- {total}')

sum:- 55

In [115]:
###4ï¸âƒ£ Print all odd numbers from 1 to 50
for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [116]:
###Print all even numbers from 2 to 100 using only range()
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [117]:
###1ï¸âƒ£ Print multiples of 5 from 5 to 100
for i in range(5,101,5):
    print('Multiple Of Five:-',i)

Multiple Of Five:- 5
Multiple Of Five:- 10
Multiple Of Five:- 15
Multiple Of Five:- 20
Multiple Of Five:- 25
Multiple Of Five:- 30
Multiple Of Five:- 35
Multiple Of Five:- 40
Multiple Of Five:- 45
Multiple Of Five:- 50
Multiple Of Five:- 55
Multiple Of Five:- 60
Multiple Of Five:- 65
Multiple Of Five:- 70
Multiple Of Five:- 75
Multiple Of Five:- 80
Multiple Of Five:- 85
Multiple Of Five:- 90
Multiple Of Five:- 95
Multiple Of Five:- 100

In [118]:
##Print numbers from 100 to 0 in steps of 10 using only range()
for i in range(100,-10,-10):
    print(i)

100
90
80
70
60
50
40
30
20
10
0

In [119]:
###3ï¸âƒ£ Print the square of each number from 1 to 10
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [120]:
##Find the sum of all EVEN numbers from 1 to 20 using a for loop
total = 0
for i in range(2,21,2):
    total =total+i
print(f'sum:-{total}')

sum:-110

In [121]:
##Count how many numbers are divisible by 3 between 1 and 30
count = 0
for i in range(3,31,3):
    count=count+1
print(count)

10

In [122]:
##ðŸ”¹ Question:Count how many EVEN numbers are between 1 and 50
count = 0
for i in  range(2,51,2):
    count=count+1
print(count)

25

In [123]:
##ðŸ”¹ Question:Find the sum of all ODD numbers between 1 and 30
total = 0
for i in range(1,31,2):
    total = total + i
print(f'sum of odd Numbers:-{total}')

sum of odd Numbers:-225

In [124]:
###Count how many numbers are divisible by 5 between 1 and 100
count = 0
for i in range(5,101,5):
    count+=1
print(count)

20

In [125]:
##Print the multiplication table of a number (example: 7)
num = 7
for i in range(1,11):
    print(f'{num}*{i}={num*i}')

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [126]:
###Find the product (multiplication) of numbers from 1 to 5
num = 1
for i in range(1,6):
    num=num*i
print(num)

120

In [127]:
##Find the factorial of a number
fact = 1
for i in range(5,0,-1):
    fact=fact*i
print(fact)

120

In [128]:
###Count how many digits are in a given number (example: 45678)
n = 45678
count = 0
for digit in str(n):
    count+=1
print(count)

5

In [129]:
##Find the sum of digits of a number (example: 348)
n = 348
total = 0
for i in str(n):   # if we convert number into string remember when we have to add a number 
                   # then we have to make it in integer
    total=total+int(i)

print(total)

15

In [130]:
####Find the product of digits of a number (example: 234) using a for loop
n = 234
product = 1
for i in str(n):
    product = product*int(i)
print(product)

24

In [131]:
###Count how many EVEN digits are in a number (example: 48293)
n = 48293
count = 0 
for digit in str(n):
    if int(digit)%2==0:
        count=count+1
print(count)

3

In [132]:
####Count how many ODD digits are in a number (example: 73924)
n = 73924
count = 0
for digit in str(n):
    if int(digit)%2!=0:
        count+=1
print(count)

3

In [152]:
###Find the largest digit in a number (example: 58291)
n = 58291
original = 0
for digit in str(n):
    if int(digit)>original:
          original=int(digit)
print(original)

9

In [155]:
####Find the smallest digit in a number
n = 58291
smallest = 9
for digit in str(n):
    if int(digit)< smallest:
        smallest = int(digit)
print(smallest)

1

In [156]:
###Count how many times the digit 5 appears in a number (example: 45525)
n = 45525
count = 0
for digit in str(n):
    if int(digit)==5:
        count+=1
print(count)

3

In [ ]:
###Check whether a number contains the digit 7 (example: 78241)
n = 782417
found = False
for digit in str(n):
    if int(digit)==7:
        found = True
    
if found:
    print('yes')
else:
    print("no")

2
yes

In [162]:
####Count how many digits are greater than 5 in a number (example: 58392)
n = 58392
count = 0
for digit in str(n):
    if int(digit)>5:
        count+=1
print(count)

2