###  #Campus X

## #WHY PYTHON ?  
- (1) Design Philosophy.
- (2) Batteries Included.
- (3) General Purpose.
- (4) libraries/community.

## 1.PYTHON OUTPUT

In [42]:
# Python is case-sensitive language.
print("Hello World")

Hello World

In [43]:
print('Salman Khan')

Salman Khan

In [44]:
print(7)

7

In [45]:
print(True)

True

In [46]:
print('Hello World',1,4.5,True)

Hello World 1 4.5 True

In [47]:
print('Hello World',1,4.5,True,sep='/')

Hello World/1/4.5/True

In [48]:
print('hello')
print('world')

hello
world

In [49]:
print('hello',end = '-')
print('world')

hello-world

## 2.DATATYPES

In [50]:
#Integer
print(8)
##1*10^309
print(1e309)

8
inf

In [51]:
## Decimal/float.
print(8.55)
print(1.7e309)

8.55
inf

In [52]:
##boolean
print(True)#1
print(False)#0

True
False

In [53]:
# Text/string
print("shreyas Bhavar")

shreyas Bhavar

In [54]:
#complex Number
print(5+6j)

(5+6j)

In [55]:
##list-> c->array.
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [56]:
##Tuples
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [57]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [58]:
# Dictionary.
print({'name':'shreyas','gender':'male','age':19})

{'name': 'shreyas', 'gender': 'male', 'age': 19}

In [59]:
#type
type(2.3)

float

## 3.Variables

In [60]:
#static vs Dynamic typing.
#static vs Dynamic Binding.
#stylish Decalaration Techniques.

In [61]:
name = 'shreyas'
print(name)

a = 9
b = 5
print(a + b)

shreyas
14

In [62]:
#Dynamic typing.(for python)
'''Dynamic typing in Python means that the type of a variable is determined at runtime, 
    not at the time of declaration'''
a = 5

# static typing (for c/java/c++)
#int (a) = 5

In [63]:
#Dynamic Binding. (various variables are saved.)
a = 5
print(a)
a = 'nitish'
print(a)

#static binding (support c/c++/java)
#int (a) = 5

5
nitish

In [64]:
#stylish Decalaration Technique
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [65]:
'''we write also'''
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [66]:
'''we can store multiple variable with same value'''
a=b=c = 5
print(a,b,c)

5 5 5

## 4. Comments.

In [67]:
#This is a addition.
a = 4
b = 6
print(a+b)#addition of a + b = 10

10

## 5. Keywords And Identifiers.

In [68]:
# Identifiers.
# you can't start with digit.
name1 = 'bhavar'
print(name1)

#you can use special character-> ('_').
first_name = 'bhavar'
print(first_name)
#also
_ = 'virat'
print(_)

#identifiers can not be keywords

bhavar
bhavar
virat

# 5 . User input

In [69]:
#static software :- Dont talk with users.it only use to give a information. example(calendar,clock,a blog,college website)
#dynamic Software:-u can talk with software. we can give command. examples(booking ola, booking tickets)

input("Enter your Email:-")

''

In [70]:
# take two input from user and store them in variable.
fnum = int(input('Enter The First Number:-'))
snum = int(input('Enter The Second Number:-'))
# add the two variables.
sum = fnum+snum
# print the result
print(sum)

ValueError: invalid literal for int() with base 10: ''

# 6. Type conversion.

In [ ]:
# implicit and explicit.
#integer
int("4")
#float
str(4)
'''or etc.'''

'4'

## 7. literals

In [ ]:
a = 0b1010 #binary literals.
b = 100 #Decimal Literals.
c = 0o1010 # octeral lliterals.
d = 0x12c #hexaecimal literal.
print(a,b,c,d)

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5*10^2
float_3 = 1.5e-3
print("float literal:-",float_1,float_2,float_3)

##Complex Literal.
x = 3.14j
print("complex literal:-",x.imag,x.real,x)

10 100 520 300
float literal:- 10.5 150.0 0.0015
complex literal:- 3.14 0.0 3.14j

In [ ]:
#binary(b).
a = 0b1010
print(a)

10

In [ ]:
## 1.5*10^2
print(1.5e2)

##1.5e-3
print(1.5e-3)

150.0
0.0015

# 8.strings

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
a = True + 4 #true = (1)##1+4=5
b = False + 10 #false = (0)##0+10=0

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

# 9 .operators

In [ ]:
# Arithmetic
# Relational
# Logical
# Bitwise
# Assignment
# Membership

## Tasks

In [ ]:
##Q1 :- Print the given strings as per stated format.
'''Given strings:

"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
Output:

Data-Science-Mentorship-Program-started-By-CampusX
Concept- [Seperator and End]'''

print("Data", "Science", "Mentorship", "Program", sep="-", end="-started-")
print("By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

In [ ]:
#Q2:- Write a program that will convert celsius value to fahrenheit.
c = 3

F = (9/5*c)+32
print(type(F),F)

<class 'float'> 37.4

In [ ]:
#Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.
a = int(input("Enter The Number:-"))
b = int(input("Enter The Number:-"))

c = a
a = b
b = c

print(a,b)

35 34

In [ ]:
## take 3 numbers as input from the. write
a = 7
b = 8

c = a
a = b
b = c

print(f'a:-{a},b:-{b}')

a:-8,b:-7

## DAY_2
- if + else + loop

In [ ]:
## Operators If + Else + Loops.
'''1.Arithemetic Operators.'''
print(5+6)

print(9*9)

print(9//8)

print(5/2)

print(5-6)

print(5%2)#gives remainder

print(5**2)#5 to the power 2

11
81
1
2.5
-1
1
25

In [ ]:
'''2.Relational operator'''
print(4>5)
print(5<4)
print(5<=7)
print(5>=7)
print(8==7)
print(4!=10)

False
False
True
False
False
True

In [ ]:
'''3.Logical Operator'''
#and:- 1 and 1 = 1 otherwise = 0
print(0 and 0)

#or:- 1 or 0 = 1 otherwise = 0
print(1 or 0)

#not :- Do reverse.
print(not False)

0
1
True

In [ ]:
'''4.Bitwise Operator'''
#bitwise &
print(2&3)

#bitwise or
print(2 | 3)

#bitwise xor
print(2^3)

print(~3)
print(5>>2)
print(5<<2)

2
3
1
-4
1
20

In [ ]:
'''5.assignment operator'''
# = 
# a = 2
a=b=c=d = 2

# a = a + 2
a += 2
b -= 2
c *= 2
d %= 8
print(a,b,c,d)

4 0 4 2

In [ ]:
'''6.membership operators'''
# in/not in

print("D" in "Delhi")
print("d" in 'Delhi')
print(5 in [1,3,4])

True
False
True

## If-Else-Python

In [ ]:
#login program Indentation
#email -> nitish.campusx@gmail.com
#password -> 1234

email = input("Enter from the user:-")
password = input('enter password:-')

if email == 'nitish.campusx@gmail.com' and password == "1234":
    print("correct")

elif email == 'nitish.campusx@gmail.com' and password != "1234":
    #tell the user Incorrect Password
    print('Incorrect')

    password = input("Enter Password Again")
    ####nested if
    if password == '1234':
        print('welcome,Finally')
    else:
        print('tumse na ho paaega beta')

else:
    print('not correct')

Incorrect
tumse na ho paaega beta

In [ ]:
#min of 3
a = int(input('Enter The 1st Num:-'))
b = int(input('Enter The 2nd Num:-'))
c = int(input('Enter The 3rd Num:-'))

if a<b and a<c:
    print('smallest number is:-',a)
elif b<c:
    print('smallest number is:-',b)
else:
    print('smallest number is :-',c)

smallest number is :- 1

In [ ]:
#menu driven calculator.
fnum = int(input('enter the fnum:-'))
snum = int(input('enter the snum:-'))

op = input('enter the operation')

if op == "+":
    print(fnum+snum)
elif op == '-':
    print(fnum-snum)
elif op == '*':
    print(fnum*snum)
else:
    print(fnum/snum)

8

## Modules In Python

In [ ]:
#math
import math

math.sqrt(196)

14.0

In [ ]:
#Keyword
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

81

In [ ]:
#Date time
import datetime
print(datetime.datetime.now())

2026-01-29 17:39:03.747518

In [ ]:
## to see the modules
help('modules')

Please wait a moment while I gather a list of all available modules...

IPython             _uuid               hmac                resource
__future__          _warnings           html                rlcompleter
__hello__           _weakref            http                rpds
__phello__          _weakrefset         idlelib             runpy
_abc                _xxsubinterpreters  imaplib             sched
_aix_support        _xxtestfuzz         imghdr              secrets
_ast                _zoneinfo           imp                 select
_asyncio            abc                 importlib           selectors
_bisect             aifc                inspect             setuptools
_blake2             antigravity         io                  shelve
_bootsubprocess     appnope             ipaddress           shlex
_bz2                argparse            ipykernel           shutil
_codecs             array               ipykernel_launcher  signal
_codecs_cn          ast                 ipython_pygments_lexers site
_codecs_hk          asttokens           itertools           six
_codecs_iso2022     asynchat            jedi                smtpd
_codecs_jp          asyncio             json                smtplib
_codecs_kr          asyncore            jsonschema          sndhdr
_codecs_tw          atexit              jsonschema_specifications socket
_collections        attr                jupyter             socketserver
_collections_abc    attrs               jupyter_client      sqlite3
_compat_pickle      audioop             jupyter_core        sre_compile
_compression        base64              keyword             sre_constants
_contextvars        bdb                 lib2to3             sre_parse
_crypt              binascii            linecache           ssl
_csv                bisect              locale              stack_data
_ctypes             builtins            logging             stat
_ctypes_test        bz2                 lzma                statistics
_curses             cProfile            mailbox             string
_curses_panel       calendar            mailcap             stringprep
_datetime           cgi                 marshal             struct
_dbm                cgitb               math                subprocess
_decimal            chunk               matplotlib_inline   sunau
_distutils_hack     cmath               mimetypes           symtable
_elementtree        cmd                 mmap                sys
_functools          code                modulefinder        sysconfig
_hashlib            codecs              multiprocessing     syslog
_heapq              codeop              nbformat            tabnanny
_imp                collections         nbstripout          tarfile
_io                 colorsys            nest_asyncio        telnetlib
_json               comm                netrc               tempfile
_locale             compileall          nis                 termios
_lsprof             concurrent          nntplib             test
_lzma               configparser        ntpath              textwrap
_markupbase         contextlib          nturl2path          this
_md5                contextvars         numbers             threading
_multibytecodec     copy                opcode              time
_multiprocessing    copyreg             operator            timeit
_opcode             crypt               optparse            tkinter
_operator           csv                 os                  token
_osx_support        ctypes              packaging           tokenize
_pickle             curses              parso               tomllib
_posixshmem         dataclasses         pathlib             tornado
_posixsubprocess    datetime            pdb                 trace
_py_abc             dateutil            pexpect             traceback
_pydecimal          dbm                 pickle              tracemalloc
_pyio               debugpy             pickletools         traitlets
_queue              decimal             pip                 tty
_random             decorator           pipes               turtle
_scproxy            difflib             pkg_resources       turtledemo
_sha1               dis                 pkgutil             types
_sha256             distutils           platform            typing
_sha3               doctest             platformdirs        typing_extensions
_sha512             email               plistlib            unicodedata
_signal             encodings           poplib              unittest
_sitebuiltins       ensurepip           posix               urllib
_socket             enum                posixpath           uu
_sqlite3            errno               pprint              uuid
_sre                executing           profile             venv
_ssl                fastjsonschema      prompt_toolkit      warnings
_stat               faulthandler        pstats              wave
_statistics         fcntl               psutil              wcwidth
_string             filecmp             pty                 weakref
_strptime           fileinput           ptyprocess          webbrowser
_struct             fnmatch             pure_eval           wsgiref
_symtable           fractions           pwd                 xdrlib
_sysconfigdata__darwin_darwin ftplib              py_compile          xml
_testbuffer         functools           pyclbr              xmlrpc
_testcapi           gc                  pydoc               xxlimited
_testclinic         genericpath         pydoc_data          xxlimited_35
_testimportmultiple getopt              pyexpat             xxsubtype
_testinternalcapi   getpass             pygments            zipapp
_testmultiphase     gettext             queue               zipfile
_thread             glob                quopri              zipimport
_threading_local    graphlib            random              zlib
_tkinter            grp                 re                  zmq
_tokenize           gzip                readline            zoneinfo
_tracemalloc        hashlib             referencing
_typing             heapq               reprlib

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

## Loops

In [ ]:
# while loops 
# program to print table.
number = int(input('enter the number:-'))
i = 1
while i < 11:
    print(number,'*',i, '=', number*i)
    i += 1

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
##while loops with else
x = 1

while x < 3:
    print(x)
    x += 1

else:
    print('limit crossed')

1
2
limit crossed

In [ ]:
# guess gaming

#generate a random integer between 1 and 100.
import random
jackpot = random.randint(1,100)
guess = int(input('guess karo'))
count = 1

while guess != jackpot:
    if guess < jackpot:
        print('galat!guess higher')

    else:
        print('galat!guess lower')

    guess = int(input('guess karo'))
    count +=1
else:
    print('correct')
    print('correct attmept:-',count)

galat!guess higher
galat!guess higher
galat!guess higher
galat!guess higher
galat!guess higher
galat!guess higher
galat!guess lower
galat!guess lower
galat!guess higher
galat!guess lower
galat!guess higher
correct
correct attmept:- 12

In [ ]:
## for loop demo

for i in range(1,11,2):#{start,end,stepsize(jumping)}
    print(i)

1
3
5
7
9

In [ ]:
#
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

## Q.The current Population of the time is 10000.The population of the town is increasing at the rate of 10% per year.you have to write the programto find out the population at the end of the each. of the last year.

In [ ]:
current_pop = 10000
for i in range(10,0,-1):
    print(i,current_pop)
    current_pop = current_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [ ]:
'''Problem 2: Write a program that take a user input of three angles and will find out whether it can
 form a triangle or not.'''

a = int(input('Enter The Fangle:-'))
b = int(input('Enter The Sangle:-'))
c = int(input('Enter The Tangle:-'))

if a > 0 and b > 0 and c>0 and (a+b+c == 180):
    print('Yes this angles can form a angle')
else:
    print('No this angles can not formed a angle')

Yes this angles can form a angle

In [ ]:
'''
Problem 3: Write a program that will take user input of cost price 
and selling price and determines whether its a loss or a profit.
'''
costprice = int(input('enter the cost price:-'))
sellingprice = int(input('enter the selling price:-'))

#loss
if sellingprice<costprice:
    loss = costprice-sellingprice
    print('There is loss',loss)

#profit
elif sellingprice>costprice:
    profit = sellingprice-costprice
    print('there is a profit',profit)

#no profit - No loss
else:
    print('No profit,No loss')

There is loss 5

In [ ]:
'''Problem 4: Write a menu-driven program -
(1) cm to ft
(2) km to miles
(3) USD to INR
(4) exit'''

while True:
    print("\n--- Conversion Menu ---")
    print("1. Centimeter to Feet")
    print("2. Kilometer to Miles")
    print("3. USD to INR")
    print("4. Exit")

    choice = int(input("Enter your choice (1-4): "))

    if choice == 1:
        cm = float(input("Enter length in cm: "))
        feet = cm / 30.48
        print("Length in Feet:", feet)

    elif choice == 2:
        km = float(input("Enter distance in km: "))
        miles = km * 0.621371
        print("Distance in Miles:", miles)

    elif choice == 3:
        usd = float(input("Enter amount in USD: "))
        inr = usd * 83   # Approximate rate
        print("Amount in INR:", inr)

    elif choice == 4:
        print("Thank you! Program exited.")
        break

    else:
        print("Invalid choice! Please try again.")

--- Conversion Menu ---
1. Centimeter to Feet
2. Kilometer to Miles
3. USD to INR
4. Exit
Thank you! Program exited.

In [ ]:
'''fibonacci series'''
# Number of terms
n = 10

# First two numbers
a = 0
b = 1

print("Fibonacci Series:")

# Print first two terms
print(a, b, end=" ")

# Generate remaining terms
for i in range(2, n):
    c = a + b
    print(c, end=" ")
    a = b
    b = c

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

In [ ]:
## factorial 
n = int(input('Enter the Number:-'))
fact = 1
for i in range(n,0,-1):
    fact = fact*i
print('factorial is:-',fact)

factorial is:- 3628800

In [ ]:
'''Problem 7 - Reverse a given integer number.'''
n = input("Enter a number: ")

reverse = ""

# For loop to reverse
for i in range(len(n)-1, -1, -1):
    reverse = reverse + n[i]
print("Reversed Number:", reverse)

Reversed Number: 95867

In [ ]:
##[(1/1!)+(2/2!)+(3/3!)+(4/4!)+(n)]
n = int(input('enter the number:-'))
result = 0
fact = 1
for i in range(1,n+1):
    fact = fact * i
    result = result + i/fact
print(result)

2.6666666666666665

# Nested loops:
- loops inside loop for repeating some values.

In [ ]:
## Examples -> Unique pairs

for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
#pattern
rows = int(input('Enter From The User:-'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end = " ")
    print()

*
* *
* * *
* * * *

In [ ]:
'''
1
12
123
1234
12345
123456
.......etc
'''
#pattern
rows = rows = int(input('Enter From The User:-'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [ ]:
#
rows = rows = int(input('Enter From The User:-'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(i-1,0,-1):
        print(k,end = ' ')
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1

In [ ]:
#increasing * pattern
rows = int(input('Enter From The User:-'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
'''
* * * *
* * *
* *
*
'''

rows = int(input('Enter From the user:-'))
for i in range(rows+1,0,-1):
    for j in range(i,0,-1):
        print('*',end = ' ')
    print()

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
'''
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

'''
n  = int(input('Enter the number:-'))

for i in range(n):
    for j in range(n):
        print('*',end = ' ')
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
'''
* * * * *
*       *
*       *
*       *
* * * * *
'''

n  = int(input('Enter the number:-'))#5

for i in range(n):#print rows
    for j in range(n):#print columns
        if i == 0 or i == n-1 or j == 0 or j == n - 1:
            print('*',end=" ")
        else:
            print(' ',end=" ")
    
    print()

* * * * *
*       *
*       *
*       *
* * * * *

# Alphabet value 
- small abcd upto z = its value is 97 to 122
- capital abcd is 65 to 91
- chr() - converts number into letters.

In [ ]:

## alhabetical
for i in range(65,91):
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
# increasing alphabetical order
n = int(input("enter the number:-"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(96+j),end=" ")
    print()

a
a b
a b c
a b c d

In [ ]:
n = int(input("enter the number:-"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

A
A B
A B C
A B C D

In [ ]:
# decreasing alphabet
n = n = int(input("enter the number:-"))
for i in range(n+1,0,-1):
    for j in range(i,0,-1):
        print(chr(64+j),end=" ")
    print()

H G F E D C B A
G F E D C B A
F E D C B A
E D C B A
D C B A
C B A
B A
A

In [ ]:
#Right aligned triangle
'''     
      *
    * *
  * * *
* * * *
'''
rows = int(input('Enter the numbers:-'))
 
for i in range(rows):
    #space print
    for j in range(i,rows):
        print(' ',end = " ")
    #star print
    for k in range(i+1):
        print('*',end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
'''
* * * *
  * * *
    * *
      *
'''

rows = int(input("Enter number: "))

for i in range(rows):
    
    # Space print
    for s in range(i):
        print(" ", end=" ")
        
    # Star print
    for j in range(i, rows):
        print("*", end=" ")
        
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
i = 1
total = 0
while i <10:
    total += i
    i = i+1

print(total)

45

In [ ]:
# strip
' Nitish               '.strip()

'Nitish'

## List

- list is heteregeous 
- we can store multiple values in in list [1,"shreyas",7.6,30,60,90]
- speed of execution {python list is slow}
- memory {more space occupied.}

In [ ]:
a = 2
print(id(a))

4355503536

In [ ]:
l = [1,2,3,4]
print(id(l))
print(id(l[0]))
print(id(l[1]))
print(id(l[2]))
print(id(0))
print(id(1))
print(id(2))

4399732992
4355503504
4355503536
4355503568
4355503472
4355503504
4355503536

In [ ]:
L = [1,2,3,1]
L1 = [3,2,1]

L == L1

False

## Creating a List

In [ ]:
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

## Accessing Items from a List

In [ ]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
#print(L[0][0][1])

# Slicing
L = [1,2,3,4,5,6]

print(L[::-1])

[6, 5, 4, 3, 2, 1]

## Adding Items to a List

In [ ]:
# append
L = [1,2,3,4,5]
L.append(True)
print(L)

[1, 2, 3, 4, 5, True]

In [ ]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [ ]:
# insert
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

# Editing items in a List

In [ ]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

## Deleting items from a List

In [ ]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [ ]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [ ]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

## Operations on Lists

- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [ ]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

## List Functions

In [ ]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [ ]:
# count 
L = [1,2,1,3,4,1,5]
L.count(5)

1

In [ ]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [ ]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [ ]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
4373509248
[2, 1, 5, 7, 0]
4367189184

## List Comprehension
newlist = [expression for item in iterable if condition == True]![image.png]()

- List Comprehension provides a concise way of creating lists.

- newlist = [expression for item in iterable if condition == True]image.png

- Advantages of List Comprehension

- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [ ]:
## Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]
#1stmethod:-
'''
x = []
for i in v:
    x.append(i*s)

print(x)
'''
#2nd method:- by using list compressions.
[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Add cubes
l = [1,2,3,4,5]

#this is using list compressions.
[i**3 for i in l]

[1, 8, 27, 64, 125]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# print all numbers are divisible by 6 in the range of (1,60)
[i for i in  range(1,61) if i%6==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
## find language starts with letter 'h'
languages = ['hindi','hinglish','hinsa','punjab']

[india for india in languages if india.startswith('h')]

['hindi', 'hinglish', 'hinsa']

In [ ]:
cities = ['nashik','niphad','naitale','baramati']

[city for city in cities if city.startswith('n')]

['nashik', 'niphad', 'naitale']

In [ ]:
#nested if with list comprehnsions
basket = ['cricket','football','hockey','cricbuzz']
my_sports = ['cricket','chinaman','chintu']

[sport for sport in my_sports if sport in basket if sport.startswith('c')]

['cricket']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

## 2 ways to traverse a list

- itemwise
- indexwise

In [ ]:
# itemwise
L = [1,2,3,4,5,6,7]

for i in L:
  print(i)

1
2
3
4

In [ ]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

## Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2)) 

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x105cd23d0>>]

## Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [ ]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

## #5. Tuples + Sets + Dictionary.

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items 
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [76]:
t3 = (1,2,3,4)
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [78]:
t5 = (1,2,3,(4,5))
t5[-1][0]

4

In [80]:
#editing items
# print(t3)
#
# immutable just like strings

In [ ]:
#zipping tuples
a = (1,2,3,4,5)
b = (6,7,8,9)
tuple(zip(a,b))

((1, 6), (2, 7), (3, 8), (4, 9))

In [ ]:
#editing the key_value pairs...
d = {
    "name":"shreyas",
    'roll':"25c57",
    'subject':{
        "maths":78,
        'marathi':79
        
        
        }
}
d

{'name': 'shreyas', 'roll': '25c57', 'subject': {'maths': 78, 'marathi': 79}}

In [38]:
d['subject']['marathi']=90
d

{'name': 'shreyas', 'roll': '25c57', 'subject': {'maths': 78, 'marathi': 90}}

In [39]:
#nested compression

{i:{j:i*j for j in range(1,11)}for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}