###  #Campus X

## #WHY PYTHON ?  
- (1) Design Philosophy.
- (2) Batteries Included.
- (3) General Purpose.
- (4) libraries/community.

## 1.PYTHON OUTPUT

In [ ]:
# Python is case-sensitive language.
print("Hello World")

Hello World

In [3]:
print('Salman Khan')

Salman Khan

In [4]:
print(7)

7

In [5]:
print(True)

True

In [6]:
print('Hello World',1,4.5,True)

Hello World 1 4.5 True

In [7]:
print('Hello World',1,4.5,True,sep='/')

Hello World/1/4.5/True

In [8]:
print('hello')
print('world')

hello
world

In [11]:
print('hello',end = '-')
print('world')

hello-world

## 2.DATATYPES

In [ ]:
#Integer
print(8)
##1*10^309
print(1e309)

8
inf

In [14]:
## Decimal/float.
print(8.55)
print(1.7e309)

8.55
inf

In [15]:
##boolean
print(True)#1
print(False)#0

True
False

In [16]:
# Text/string
print("shreyas Bhavar")

shreyas Bhavar

In [18]:
#complex Number
print(5+6j)

(5+6j)

In [19]:
##list-> c->array.
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [20]:
##Tuples
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [21]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [22]:
# Dictionary.
print({'name':'shreyas','gender':'male','age':19})

{'name': 'shreyas', 'gender': 'male', 'age': 19}

In [24]:
#type
type(2.3)

float

## 3.Variables

In [ ]:
#static vs Dynamic typing.
#static vs Dynamic Binding.
#stylish Decalaration Techniques.

In [26]:
name = 'shreyas'
print(name)

a = 9
b = 5
print(a + b)

shreyas
14

In [ ]:
#Dynamic typing.(for python)
'''Dynamic typing in Python means that the type of a variable is determined at runtime, 
    not at the time of declaration'''
a = 5

# static typing (for c/java/c++)
int a = 5

In [ ]:
#Dynamic Binding. (various variables are saved.)
a = 5
print(a)
a = 'nitish'
print(a)

#static binding (support c/c++/java)
int a = 5

5
nitish

In [2]:
#stylish Decalaration Technique
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [4]:
'''we write also'''
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [5]:
'''we can store multiple variable with same value'''
a=b=c = 5
print(a,b,c)

5 5 5

## 4. Comments.

In [ ]:
#This is a addition.
a = 4
b = 6
print(a+b)#addition of a + b = 10

10

## 5. Keywords And Identifiers.

In [8]:
# Identifiers.
# you can't start with digit.
name1 = 'bhavar'
print(name1)

#you can use special character-> ('_').
first_name = 'bhavar'
print(first_name)
#also
_ = 'virat'
print(_)

#identifiers can not be keywords

bhavar
bhavar
virat

# 5 . User input

In [10]:
#static software :- Dont talk with users.it only use to give a information. example(calendar,clock,a blog,college website)
#dynamic Software:-u can talk with software. we can give command. examples(booking ola, booking tickets)

input("Enter your Email:-")

'shreyasbhavar2007@gmail.com'

In [ ]:
# take two input from user and store them in variable.
fnum = int(input('Enter The First Number:-'))
snum = int(input('Enter The Second Number:-'))
# add the two variables.
sum = fnum+snum
# print the result
print(sum)

60

# 6. Type conversion.

In [ ]:
# implicit and explicit.
#integer
int("4")
#float
str(4)
'''or etc.'''

'4'

## 7. literals

In [23]:
a = 0b1010 #binary literals.
b = 100 #Decimal Literals.
c = 0o1010 # octeral lliterals.
d = 0x12c #hexaecimal literal.
print(a,b,c,d)

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5*10^2
float_3 = 1.5e-3
print("float literal:-",float_1,float_2,float_3)

##Complex Literal.
x = 3.14j
print("complex literal:-",x.imag,x.real,x)

10 100 520 300
float literal:- 10.5 150.0 0.0015
complex literal:- 3.14 0.0 3.14j

In [ ]:
#binary(b).
a = 0b1010
print(a)

10

In [21]:
## 1.5*10^2
print(1.5e2)

##1.5e-3
print(1.5e-3)

150.0
0.0015

# 8.strings

In [24]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
a = True + 4 #true = (1)##1+4=5
b = False + 10 #false = (0)##0+10=0

print("a:", a)
print("b:", b)

a: 5
b: 10

In [26]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

# 9 .operators

In [ ]:
# Arithmetic
# Relational
# Logical
# Bitwise
# Assignment
# Membership

## Tasks

In [42]:
##Q1 :- Print the given strings as per stated format.
'''Given strings:

"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
Output:

Data-Science-Mentorship-Program-started-By-CampusX
Concept- [Seperator and End]'''

print("Data", "Science", "Mentorship", "Program", sep="-", end="-started-")
print("By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

In [45]:
#Q2:- Write a program that will convert celsius value to fahrenheit.
c = 3

F = (9/5*c)+32
print(type(F),F)

<class 'float'> 37.4

In [48]:
#Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.
a = int(input("Enter The Number:-"))
b = int(input("Enter The Number:-"))

c = a
a = b
b = c

print(a,b)

35 34

In [3]:
## take 3 numbers as input from the. write
a = 7
b = 8

c = a
a = b
b = c

print(f'a:-{a},b:-{b}')

a:-8,b:-7

## DAY_2
- if + else + loop

In [3]:
## Operators If + Else + Loops.
'''1.Arithemetic Operators.'''
print(5+6)

print(9*9)

print(9//8)

print(5/2)

print(5-6)

print(5%2)#gives remainder

print(5**2)#5 to the power 2

11
81
1
2.5
-1
1
25

In [5]:
'''2.Relational operator'''
print(4>5)
print(5<4)
print(5<=7)
print(5>=7)
print(8==7)
print(4!=10)

False
False
True
False
False
True

In [ ]:
'''3.Logical Operator'''
#and:- 1 and 1 = 1 otherwise = 0
print(0 and 0)

#or:- 1 or 0 = 1 otherwise = 0
print(1 or 0)

#not :- Do reverse.
print(not False)

0
1
True

In [21]:
'''4.Bitwise Operator'''
#bitwise &
print(2&3)

#bitwise or
print(2 | 3)

#bitwise xor
print(2^3)

print(~3)
print(5>>2)
print(5<<2)

2
3
1
-4
1
20

In [34]:
'''5.assignment operator'''
# = 
# a = 2
a=b=c=d = 2

# a = a + 2
a += 2
b -= 2
c *= 2
d %= 8
print(a,b,c,d)

4 0 4 2

In [37]:
'''6.membership operators'''
# in/not in

print("D" in "Delhi")
print("d" in 'Delhi')
print(5 in [1,3,4,5])

True
False
True

In [13]:
#for
n = 4
for i in range(1,n+1):
    for j in range(i):
        print(j,end ='')
    print()

0
01
012
0123