## Pattern solving.
- '''rows = rows = int(input('Enter From The User:-'))

- for i in range(1,rows+1):
 -   for j in range(1,i+1):
  -      print(j,end=" ")
   - for k in range(i-1,0,-1):
    -    print(k,end = ' ')
    - print()'''
- how it works: if we have to print

In [2]:
for j in range(1,8):
    print(j)

1
2
3
4
5
6
7

In [13]:
n = [ 1,2,3,4,5,6,7,8]
for i in [n]:
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
#create a list of number and print only even numbers
list = [1,2,3,4,5,6,7,8,9,10]
for i in list:
    if i%2==0:
        print(i)

2
4
6
8
10

In [20]:
#find the sum of elemnt in the list
list = [1,2,3,4,5,6,7]
sum = 0
for i in list:
    sum = sum + i
print(sum)

28

In [26]:
#find the largest and smallest number in the list:
list = [56,78,32,90]
largest = list[0]
smallest = list[0]
for i in list:
    if i >largest:
        largest=i
    if i < smallest:
        smallest = i

print('smallest',smallest)
print('largest',largest)

smallest 32
largest 90

In [38]:
#count how many 5 appear in the list.
list = [5,5,5,5,5,5,1]
n = list.count(5)
print(n)

6

In [40]:
list = [5,2,5]
count = 0
for i in list:
    if i == 5:
        count+=1
print(count)

2

In [46]:
## sort
list = [1,3,2,74,8,9]
list.sort(reverse=True)
print(list)

[74, 9, 8, 3, 2, 1]

In [47]:
num = [ 1,4,2,3,56]
num.sort()
print(num)

[1, 2, 3, 4, 56]

In [ ]:
# without using reverse
lst = [8,9,3,4,5]
for i in lst[::-1]:
    print(i)

5
4
3
9
8

In [56]:
#another method
lst.reverse()
print(lst)

[5, 4, 3, 9, 8]

In [ ]:
lst = [1,2,3,4,5]
lst2 = []
lst2 = lst.copy()
print(lst2)

[1, 2, 3, 4, 5]

In [68]:
# nested list
lst1 = [1,2,3,4,5,6,7,[2,3]]
print(lst1[7][0])

2

In [77]:
#compression of the list.
lst = [1,2,3,4,5,6,7,8,9,10]
[i*2 for i in lst if i>5]

[12, 14, 16, 18, 20]

## Tuples

In [2]:
#Q1.create a tuple with 5 number and print it
num = (1,2,3,4,5)
print(num)
print(type(num))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
#Q2.create the tuple of fruit and print its first element.
fruits = ('apple','banana','sitafal','jamun')
print(fruits[0])

apple

In [4]:
#Q3.create the data types with mixed datatypes..
mix = (1,2,3,3.6,'mango')
print(mix)

(1, 2, 3, 3.6, 'mango')

In [6]:
#Q4.create the empty tuple and print it
empty = ()
print(empty)
print(type(empty))

()
<class 'tuple'>

In [8]:
#create a single elememt of tuple and print it.
single = (1,)
print(single)
print(type(single))

(1,)
<class 'tuple'>

In [11]:
#print the last element using negative indexing..
i = (1,2,3,4,5,6)
print(i[-1])
print(type(i))

6
<class 'tuple'>

In [13]:
#slice a tuple from 1 to 3
num = (1,2,3,4,5,6)
print(num[1:4])

(2, 3, 4)

In [14]:
##write a program of tuple that print tuple from a for loop
u = (1,2,4,'shreyads','vaibhav')
for i in u:
    print(i)

1
2
4
shreyads
vaibhav

In [24]:
# access and print the middle element from tuple.
o = (1,2,3,45,6,7,8,9,10,11)
mid = len(o)//2
print(o[mid])

7

In [25]:
#reverse a tuple using slicing..
rev = (1,2,4,3,56,7)
print(rev[::-1])

(7, 56, 3, 4, 2, 1)

In [28]:
#find and print the lenght of  a tuple.
k =(1,2,3,4,5,6)
print(len(k))

6

In [32]:
## check wether the given element exist in tuple..
t = (1,2,3,4)
4 in t

True

In [34]:
if 6 in t:
    print(True)
else:
    print(False)

False

In [39]:
#concanetate two tuple and print their result.
t1 = (1,2,3,4,5,6)
t2 = (6,7,8,9,10)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10)

In [44]:
###repeat a tuple 3 time and print it.
t = (1,2,3,4,5,6)
s = t*3
print(s)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [50]:
#try to change the tuple and observe error.
t = (1,2,3,5)
t[1]=100
print(t[1])

TypeError: 'tuple' object does not support item assignment

In [77]:
##convert tuple into list and modify and convert it back to tuple
t = (1,2,3,4,5)
lst = list(t)
lst.append(7)
t1 = tuple(lst)
print(t1)

(1, 2, 3, 4, 5, 7)