In [ ]:
'''
Q1.print the following pattern
*

'''
n = int(input("Enter The Number:-"))

for i in range(n):
    for j in range(n):
        print('*',end=" ")
    print()

*

In [9]:
'''
Q2.print the following pattern
**
'''
n = 1
m = 2
for i in range(n):
    for j in range(m):
        print("*",end=" ")
    print()

* *

In [11]:
#Q3. print following pattern.
'''
*
*
'''
rows = 2
coln = 1
for i in range(rows):
    for j in range(coln):
        print('*',end=" ")
    print()

*
*

In [12]:
# Q4
'''  
***

'''
rows = 1 
columns = 3
#rows
for i in range(rows):
    #columns
    for j in range(columns):
        #what to print.
        print('*',end=" ")
    #next line
    print()

* * *

In [14]:
#Q5
'''
**
**
'''
rows = 2
columns = 2
#rows
for i in range(rows):
    #column
    for j in range(columns):
        #what to print.
        print('*',end=' ')
    #next line
    print()

* *
* *

In [ ]:
#6
"""
***
***
"""
rows = 2
column = 3
#rows
for i in range(rows):
    # column
    for j in range(column):
        #what to print
        print('*',end=" ")
    #next line
    print()

3 3 3
3 3 3

In [19]:
#Q7
'''
*
**
'''
rows = 2
#rows
for i in range(rows):
    #how it works now.
    '''firstly i = 1 , then it go inside then j  = i+1 '''

    for j in range(i+1):
        # what to print?
        print('*',end=" ")
    # next line
    print()

*
* *

In [ ]:
#8
rows = 3
for i in range(rows):#3
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *

In [25]:
#9
rows=3

for i in range(rows):
    for j in range(rows,i,-1):
        print('*',end = ' ')
    print()

* * *
* *
*

In [29]:
#10
'''  
1
1 2
1 2 3

'''

num  = 3
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3

In [30]:
##11
num  = 3
for i in range(1,num+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3

In [9]:
##12
num = 5


for i in range(num, 0, -1):
    for j in range(num-i+1):
        print(i, end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [36]:
#13
rows = 9
num = 1
for i in range(1,rows):
    for j in range(i):
        print(num,end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36